.content-form-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h2 {
    color: #444;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 500;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #707070;
}

.input-simples:focus {
  /* border-color: #6c757d;  */
  border-color: var(--cor-principal);
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
  outline: none;
}

.input-simples {
    width: 100%;
    padding: 10px 12px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

/* .input-simples:focus {
    border-color: #f39c12; 
    box-shadow: 0 0 0 0.2rem rgba(243, 156, 18, 0.25);
    outline: none;
} */

.input-simples[disabled] {
    background-color: #e9ecef !important; 
    color: #495057;
    cursor: not-allowed;
}

.btn-atualizar {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background-color: #ffc107;  
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-atualizar i {
    margin-right: 8px;
}

.btn-atualizar:hover {
    background-color: #ebb001;
    transform: translateY(-1px);
}

.btn-atualizar[disabled] {
    background-color: #e9ecef !important; 
    color: #495057;
    cursor: not-allowed;
}

.mensagem-feedback {
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    font-weight: 500;
    text-align: center;
}

.sucesso-mensagem {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.erro-mensagem {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.mensagem-feedback i {
    /* margin-right: 8px; */
    text-align: center;
}

@media (max-width: 600px) {
    .content-form-container {
        margin: 20px 10px; 
    }
    .form-row {
        flex-direction: column;
        gap: 0;
    }
}