:host {
    background-color: #34495e;
    min-height: 100vh;
    width: 100%;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.content-form-container {
    margin: 15vw auto;
    max-width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
    text-align: center;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 1.8rem;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

.form-group-senha {
    position: relative; 
    margin-bottom: 20px; 
}

.input-simples {
    width: 100%;
    padding: 10px 12px;
    font-size: 1rem;
    margin-bottom: 5px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-simples:focus {
    border-color: #34495e;
    box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
    outline: none;
}

.input-submeter {
    width: 100%;
    padding: 12px 0; 
    margin-top: 20px; 
    background-color: #34495e;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    text-decoration: none; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cadastro-secundario {
    background-color: #707070; 
    color: white !important; 
    text-decoration: none !important; 
    text-align: center; 
    white-space: nowrap; 
    margin-top: 10px; 
    margin-bottom: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-submeter:hover {
    background-color: #40586f;
    transform: translateY(-1px);
}

.input-submeter i {
    margin-right: 8px;
}

.link-acao {
    display: block;
    text-decoration: none !important;
    font-size: 0.9rem;
    font-weight: 500;
    color: #34495e; 
    transition: color 0.2s;
}

.link-acao:hover {
    color: #40586f;
    text-decoration: underline;
}

.link-senha-esquecida {
    font-size: 0.85rem;
    text-align: right; 
    margin-bottom: 0;
}


.btn-cadastro-secundario:hover {
    background-color: #a5a5a5;
    transform: translateY(-1px);
}

.links-adicionais {
    margin-top: 10px; 
}

.erro-mensagem {
    margin-top: 20px;
    padding: 12px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 6px;
    text-align: center;
}

.erro-mensagem i {
    margin-right: 5px;
}