:host {
    background-color: #34495e;
    /* display: block; */
    min-height: 100vh;
    width: 100%;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.content-form-container {
    max-width: 500px;
    margin: 15vw auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h2 {
    color: #2c3e50;
    text-align: center;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 700;
    /* font-size: 1.8rem; */
}

/* .onboarding-intro {
    text-align: center;
    color: #444; 
    font-weight: 500;
    margin-bottom: 25px;
} */

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #707070;
}

.input-simples {
    width: 100%;
    padding: 10px 12px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-simples:focus {
    /* border-color: #34495e; */
    box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
    outline: none;
}

.input-submeter {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    background-color: #34495e;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.input-submeter:hover {
    background-color: #40586f;
    transform: translateY(-1px);
}

.erro-mensagem-inline {
  color: var(--cor-alerta, #dc3545); 
  font-size: 0.85rem;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
  display: block;
}


.input-simples[disabled], 
.input-simples[readonly] { 
    background-color: #e9ecef !important; 
    color: #495057; 
    cursor: not-allowed;
}